{% extends "base.html.twig" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <span>بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</span>
    </div>
{% endblock %}